# Entorno virtual
.venv/
venv/

# Datos locales del proyecto
data/*
!data/.gitkeep

# Archivos locales de configuración
.env

# Modelos generados localmente
modeloEigenFace.xml
*.xml

# Python general
__pycache__/
*.pyc
